<div class="container">
  <!-- Botón con texto y logo centrados -->
  <a href="#" class="logo-text">
    <img src="../../assets/icon/slack.png" alt="Logotipo" />
    <span style="font-weight: bold">Slack</span>
  </a>

  <h1>Iniciar sesión en Slack</h1>
  <h2>
    Te sugerimos que uses la direccion de correo electrónico que usas en el
    trabajo.
  </h2>

  <!-- Botón de Google -->
  <button routerLink="/chat" class="google-button">
    <img
      class="google-icon"
      src="/../../assets/icon/google.png"
      alt="Icono de Google"
    />
    Iniciar sesión con Google
  </button>
  <br />
  <!-- Botón de Apple -->
  <button class="apple-button">
    <img
      class="apple-icon"
      src="/../../assets/icon/apple.png"
      alt="Icono de Apple"
    />
    Iniciar sesión con Apple
  </button>
  <br />

  <div class="container">
    <!-- ... Otros elementos ... -->

    <p class="or-else-paragraph">
      <span class="line"></span> O BIEN <span class="line"></span>
    </p>
  </div>

  <input type="email" class="email-input" placeholder="nombre@work.email.com" />
  <br />
  <!-- Nuevo botón -->
  <button class="email-login-button">
    Iniciar sesión con el correo electrónico
  </button>
  <br />

  <p class="paragraph-end">
    Te enviaremos un código mágico por correo electrónico para que inicies
    sesión sin contraseña. O,
    <a target="_self" href="/workspace-signin" rel="noopener noreferrer">
      en lugar de eso, puedes iniciar sesión manualmente </a
    >.
  </p>
</div>
