<div class="container">
  <!-- Botón con texto y logo centrados -->
  <a href="#" class="logo-text">
    <img src="../../assets/icon/slack.png" alt="Logotipo" />
    <span style="font-weight: bold">Slack</span>
  </a>

  <h1>Iniciar sesión en Slack</h1>
  <h2>
    Te sugerimos que uses la direccion de correo electrónico que usas en el
    trabajo.
  </h2>

  <!-- Botón de Google -->
  <button class="google-button">
    <img
      class="google-icon"
      src="/../../assets/icon/google.png"
      alt="Icono de Google"
    />
    Iniciar sesión con Google
  </button>
  <br />
  <!-- Botón de Apple -->
  <button class="apple-button">
    <img
      class="apple-icon"
      src="/../../assets/icon/apple.png"
      alt="Icono de Apple"
    />
    Iniciar sesión con Apple
  </button>
  <br />

  <p>O BIEN</p>

  <input type="email" class="email-input" placeholder="nombre@work.email.com" />
  <br />
  <!-- Nuevo botón -->
  <button class="email-login-button">
    Iniciar sesión con el correo electrónico
  </button>
  <br />

  <p class="custom-paragraph">
    Te enviaremos un código mágico por correo electrónico para que inicies
    sesión sin contraseña. O,
    <a
      target="_self"
      class="c-link bold"
      href="/workspace-signin"
      rel="noopener noreferrer"
    >
      en lugar de eso, puedes iniciar sesión manualmente </a
    >.
  </p>
</div>
