*{
  margin: 0;
  padding: 0;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1f2326ef;
  width: 98%;
  margin: 0 auto;

}

.search-bar {
  display: flex;
  align-items: center;
  flex: 1; /* Hace que el contenedor ocupe el 100% del ancho restante */
}

.question-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 10px; /* Hace que sea un círculo */
  margin-right: 10px; /* Espacio entre el icono y el campo de búsqueda */
}

input[type="text"] {
  flex: 0.7; /* Ocupa el 100% del ancho disponible en .search-bar */
  padding: 10px;
  margin-left: 30%;
  background-color: #1f2326ef ;

}



