<nav class="navbar">
  <div class="search-bar">
    <input type="text" placeholder="Buscar en App-Chat" />
    <!-- Agregamos un evento input para capturar los cambios en la búsqueda -->
  </div>

  <div class="question-icon">
    <!-- Icono de pregunta dentro de un círculo -->
    <i class="fas fa-question"></i>
  </div>

  <div class="profile">
    <img
      alt="photo-profile"
      src="https://github.com/helmut128.png"
      width="40px"
    />
    <!-- Aquí irá la foto de perfil -->
  </div>
</nav>
